{% extends 'base.html.twig' %}

{% block title %}Édition utilisateur
{% endblock %}

{% block body %}
	<h1>Édition utilisateur</h1>

	{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

<div class="d-flex">
	<a href="{{ path('app_user_index') }}" class="btn btn-secondary">back to list</a>
	{{ include('user/_delete_form.html.twig') }}
</div>


{% endblock %}
